<?xml version="1.0"?>
<launch>
	<param name="/use_sim_time" value="true" />


	<remap from="robot/laser/scan" to="/scan" />

	<include file="$(find gazebo_ros)/launch/willowgarage_world.launch" />
	<arg name="model" default="$(find h_bot)/urdf/h_bot_description.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	
	<!-- Using strategy of cost map here. -->
	<include file="$(find h_bot)/launch/move_base.launch" >
	</include>

	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" args="-urdf -param robot_description -z 0.1 -model robot_model" respawn="false" output="screen" />
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find h_bot)/launch/navigation.rviz" />

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
		<!-->
		<remap from="scan" to="/robot/laser/scan" />
		<-->
		<param name="base_link" value="base_footprint" />
	</node>
</launch>
